body {
  background-color: #e3f2fd;
}

div {
  margin-bottom: 2rem;
}

label {
  display: block;
}

.correct-answer {
  color: #388e3c;
}

.wrong-answer {
  color: #b71c1c;
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
  font-family: "Open Sans", sans-serif;
}
